<form *ngIf="contact" [formGroup]="form">
    Name:
    <input type="text"  name="name" formControlName="name">
    <ng-container *ngIf="contactName.errors | oneError:['minlength','startsWithUpperCase'] as errors">
      <div *ngIf="contactName.errors?.['required']&&contactName.dirty">Name is required</div>
      <div *ngIf="errors?.['minlength']&&contactName.dirty">Name must be at least 2 chars long</div>
      <div *ngIf="errors?.['startsWithUpperCase']">Name must start with uppercase</div>
      </ng-container>
    <br>
    Mobile:
    <input type="text" name="mobile" formControlName="mobile">
    <div *ngIf="contactMobile.errors?.['required']&&contactMobile.dirty">Mobile is required</div>
    <div *ngIf="contactMobile.errors?.['minlength']&&contactMobile.dirty">
      Mobile must be at least 8 numbers long</div>
    <br> 
    Is favorite
    <input  type="checkbox" value="true" id="isFavorite" name="isFavorite" formControlName="isFavorite">
    <br>
    Is deleted
    <input  type="checkbox" value="true" id="isFavorite"  name="isDeleted" formControlName="isDeleted">
    <br>
    Is active
    <input  type="checkbox" value="true" id="isFavorite"  name="isActive" formControlName="isActive">
    <br>
    <button [disabled]="!form.valid" type="submit">Add</button>
    <button [routerLink]="''">Home</button>
  </form>
