.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0809;
    padding: 10px 10px;
  }

  .footer .copy {
    color: #fff;
  }

  .bottom-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .bottom-links .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
  }

  .bottom-links .links span {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 0;
  }

  .bottom-links .links a {
    text-decoration: none;
    color: #a1a1a1;
    padding: 10px 20px;
  }
