



    <header>
        <h1>Contact List </h1>
    </header>
<div style="border:2px solid blue;background-color: blue; padding: 10px;border-radius: 20px;width: fit-content;margin: 5px;">
    <a style="color: aliceblue;text-decoration: none;" [routerLink]="['add']">Add a contact</a>
</div>
    <section class="container contact-list-container">
        <ng-container *ngFor="let contact of contacts | contactFilter:searchString">
       <app-contact [contactDisplayed]="contact" (buttonClicked)="buttonClicked($event)"></app-contact>
        </ng-container>
    </section>



