



    <header>
        <h1>Angular</h1>
    </header>

    <section>
        <h1>Angular Training Day One</h1>

        <img src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?q=80&w=1738&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Your Image">
        <hr>
        <br>
        <p>Angular is a popular open-source web application framework developed and maintained by Google. It's written in TypeScript and allows developers to build dynamic, single-page web applications (SPAs) with rich user interfaces. Angular provides a comprehensive set of tools and features for building complex, client-side applications.

            <br>
            Key features of Angular include:
            <br>
            
            Two-way Data Binding: Angular facilitates two-way data binding, meaning that changes in the user interface (UI) automatically update the application state, and vice versa.
            <br>
            Modularity: Applications built with Angular are organized into modular components. Each component encapsulates a part of the user interface and its associated logic.
            <br>
            Dependency Injection: Angular has a powerful dependency injection system, which makes it easier to manage and test components by injecting dependencies rather than hard-coding them.
            <br>
            Directives: Angular uses directives to extend HTML with new attributes or tags, allowing developers to create reusable components and add dynamic behavior to the DOM.
            <br>
            Services: Angular services are used for encapsulating business logic, data manipulation, and other functionalities that can be shared across different parts of the application.
            <br>
            Routing: Angular provides a powerful routing mechanism for building SPAs. Developers can define routes, and Angular takes care of loading the appropriate components based on the route.
            <br>
            Forms: Angular offers a comprehensive set of tools for building and handling forms, including two-way data binding, form validation, and form submission.
            <br>
            TypeScript: Angular is built using TypeScript, which is a superset of JavaScript. TypeScript adds static typing to JavaScript, making it more scalable and maintainable.
            <br>
            Angular is often used in conjunction with other web development technologies and tools, such as Node.js, npm (Node Package Manager), and various build tools. It's one of the major frameworks used for building modern web applications, and it has a large and active community of developers.</p>
    </section>



