form {
    border: 2px solid burlywood;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    background-color: beige;
    width: fit-content;
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input{
    margin: 5px;
    border: 1px solid snow;
    border-radius: 8px;
}
button{
    border-radius: 10px;
}
body{
    background-color: antiquewhite;
    height: max-content;
}

.error{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
