div {
    display: auto;
    justify-content: space-between;
    background-color: red;
    text-align: center;
    border-radius: 10px;
   }
   h2{
    color: blue;
    margin-bottom: 0px;
   }
   button {
    flex: 1;
    height: 40px;
    width: 100px;
    margin: 20px;
   }