p{
    text-align: center;
    color: yellowgreen;
    font-size: xx-large;
}
*{
    background-color: aquamarine;
}
button{
    text-align: center;
}
.view-container {
    display: flex;
    justify-content: center;
    text-align: center;
   }
